body{
    background: url(../img/2.jpg) no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: #3a2127;
    font-weight: 400;
    /* 竖直方向滚动条 */
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: #333;
}
/* 清除浮动 */
.clr{
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}
/* 开始定义container */
.container{
    width: 100%;
    height: 100%;
    /* 所有文字居中对齐 */
    text-align: center;
    position: relative;
    
}
.container>header{
    padding: 20px 30px 10px 30px;
    margin: 0px 20px 10px 20px;
    /* 给整个头加阴影 */
    /* 水平,垂直,1px阴影,颜色 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}
.container>header>h1{
    font-size: 35px;
    /* 行间距 */
    line-height: 35px;
    font-weight: 400;
    color: rgba(26, 89, 120, 0.9);
    /* 再跟下面加点间距 */
    padding-bottom: 5px;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)

}
.container>header>h1>span{
    color: #7cbcd6;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

/* 导航 */
.codrops-demols{
    padding: 14px;
}
/* 按钮 */
.codrops-demols a{
    display:inline-block;
    width: 60px;
    height: 60px;
    /* 水平和垂直都会居中 */
    text-align: center;
    line-height: 60px;
    background: rgba(104, 171, 194, 0.5);
    border-radius: 50%;

    font-weight: 800;
    font-size: 11px;
    font-style: italic;
    color: #fff;
    margin: 0 15px;
    /* 文字的阴影 */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    /* 整个a的阴影 */
    /* inset 内阴影 */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;

}

/* 定义当前current-demo */
.codrops-demols a.current-demo,
.codrops-demols a.current-demo:hover{
    background: rgba(255, 255, 255, 0.9);
    color: rgba(104, 171, 194, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
/* 鼠标滑过变亮 */
.codrops-demols a:hover{
    background: #4fa2c4;

}
/* 
    还是要用js来实现
.codrops-demols a:active{
    background: rgba(255, 255, 255, 0.9);
    color: rgba(104, 171, 194, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
} */
/* current-demo在鼠标滑过的时候就不要发生变化 */
/* .codrops-demols a.current-demo:hover{
    background: rgba(255, 255, 255, 0.9);
} */
/* 和上面合并 */


/* 页面主体 */
.cr-container{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    /* 对container里面的内容做定位 */
    position: relative;
    border: 20px solid #fff;
}
/* 隐藏input */
.cr-container input{
    display: none;
}

/* 定义label */
.cr-container label{
    font-style: italic;
    /* 给每一个label盒子加一个宽度 600除以4 */
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    /*  距离顶部350px */
    margin-top: 350px;
    float: left;
   
    /* display:block
        float:left
        自动转换成块元素
     */
     position: relative;
     z-index: 1000;
}
/* 原形,在label前面插入一个伪类, */
.cr-container label:before{
    content: '';
    /* 插入的伪类元素是内联元素 */
    /* display: block; */
    /* 给圆定义样式 */
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: rgba(130, 195, 217, 0.9);
    /* z-index: 10; */
    /* 给圆添加定位,因为这个圆是利用的before,在label前面插入,所以相对label来定位最好 */
    /* 圆分别在label1,label2当中居中 */
    position: absolute;
    left: 50%;
    margin-left: -17px;
    z-index: -10;
    /* 半透明边框 */
    /*第3个0,模糊度 4px 阴影的距离 =边框大小*/
    transition: all 1s;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
}


/* 被选中的input的兄弟,后面的label */
.cr-container input:checked +label{
    color: #68abc2;

}
.cr-container input:checked +label::before{
    background: #fff;
    /* 改变边框颜色 */
    box-shadow: 0 0 0 4px rgba(104, 171, 194, 0.6);
}
/* 圆的按钮和渐变的线,都要定义在label上面 */

.cr-container label:after{
    content: "";
    width: 1px;
    height: 400px;
    position: absolute;
    right: 0;
    /* label占30,离顶部350 */
    bottom: -20px;
    /* background: #fff; */
    /* 做渐变线条 */
    background:-webkit-gradient(linear,left top,left bottom,
                    color-stop(0%,rgba(255,255,255,0)),
                    color-stop(100%,rgba(255,255,255,1)));
                    /* 从左到右,left,从上到下,top */
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    /* filter: progid */
}
/* 去掉最后一根线 */
.cr-container label:last-child:after{
    width: 0;
}
/* 图片布局 */
.cr-bgimg{
    width: 600px;
    height: 400px;
    /* 这步 */
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
}
.cr-bgimg>div{
    width: 150px;
    height: 400px;
    float: left;
    overflow: hidden;
    /* 给下面每一个div做一个定位,为了给下面的每个图片span做绝对定位 */
    position: relative;
}

/* 分辨率在低于768的时候 */
@media screen and (max-width:768px){
    .container input{
        display: inline-block;
        width: 24%;
        position: relative;
        margin-top: 350px;
        z-index: 1000;
    }
    .container label{
        display: none;
    }
}