.cr-titles h3{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	/*透明度*/
	opacity: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	z-index: 20;
	top: 50%;
	
	
	/*谁发生变化,transition定义到哪*/
    /*h3上发生了变化,定义到h3*/
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;
}
.cr-titles h3 span:nth-child(1){
	display: block;
	font-size: 50px;
	font-family: "blackadder itc";
	/*字符间距*/
	letter-spacing:7px ;
}
.cr-titles h3 span:nth-child(2){
	/*只有做成块元素,才能继承父元素 h3 的 width: 100%;背景条才能铺满*/
	display: block;
	font-size: 25px;
	padding: 5px;
	background: rgba(104,171,194,0.9);
	font-family: "palatino linotype";
	/*字符间距*/
	letter-spacing:3px ;
	font-style: italic;
}
/*透明度变成1*/
.cr-container input.cr-selector-img-1:checked ~ .cr-titles h3:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-titles h3:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-titles h3:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-titles h3:nth-child(4){
	opacity: 1;
}